/* Home.css */
.home-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
